.cart-item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.item-image {
  height: 200px;
  width: 100%;
  padding: 2px;
}

.btn-quantity {
  background-color: green;
  border: 1px solid green;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.item-quantity {
  width: 50px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.btn-delete {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: #ffffff;
  font-size: 24px;
}
