<div class="cart-item bg-light border p-2">
    <div class="row">
        <div class="col-3">
            <img class="item-image" src="assets/images/20banner.png" alt="Item">
        </div>
        <div class="col-9">
            <strong>Product Name</strong>
            <p>Price</p>
            <p>Discound price</p>
        </div>
    </div>
    <hr>
    <div>
        <button class="btn-quantity"><i class="bi bi-dash-circle"></i></button>
        <input type="text" name="quantity" class="item-quantity" value="1">
        <button class="btn-quantity"><i class="bi bi-plus-circle"></i></button>
        <button class="btn-delete"><i class="bi bi-trash3-fill"></i></button>
        <p class="float-end"><strong>$6.99</strong></p>
    </div>
</div>
