<h2>Payment</h2>
<p>Choose or add your payment option</p>

<div class="p-4 mt-4 btn-group-vertical">
    <div class="form-check">
        <input type="radio" class="form-check-input" name="paypalpay" value="payPalPay" (click)="onPayWithPayPal()" [checked]="payPalPay">
        <label class="form-check-label" for="radio1">Pay with PayPal</label>
        <p>Complete your purchase on PayPal</p>
    </div>
    
    <div class="form-check">
        <input type="radio" class="form-check-input" name="existingAddress" value="cardPay" (click)="onPayWithCard()" [checked]="cardPay">
        <label class="form-check-label" for="radio1">Pay with Credit/Debt Card</label>  
        <p>Pay with VISA, Mastercard, Discover Card.</p>

        <form [formGroup]="paymentForm"  *ngIf="cardPay" class="p-3 mt-5 rounded-2 border">
            Fill out your card details.
            <div class="row">
                <div class="col-sm-7 mt-2 mb-2">
                    <label for="card">Card Number *</label>
                    <input type="text" formControlName="cardNumber" class="form-control">
                    <div class="text-danger" *ngIf="paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid">
                        <small *ngIf="paymentForm.get('cardNumber')?.errors?.['required']">Please enter the card number.</small>
                        <small *ngIf="paymentForm.get('cardNumber')?.errors?.['pattern']">Invalid card number!</small>
                    </div>
                </div>
                <div class="col-sm-5 mt-2 mb-2">
                    <label for="card type">Card Type *</label>
                    <select formControlName="cardType" class="form-select">
                        <option selected disabled>Select Card Type</option>
                        <option>VISA</option>
                        <option>Mastercard</option>
                        <option>Discover</option>
                    </select>
                    <div class="text-danger" *ngIf="paymentForm.get('cardType')?.touched && paymentForm.get('cardType')?.invalid">
                        <small *ngIf="paymentForm.get('cardType')?.errors?.['required']">Please select the card type.</small>
                    </div>
                </div> 
            </div>
            <div class="mt-2 mb-2">
                <label for="name">Name on Card *</label>
                <input type="text" formControlName="name" class="form-control">
                <div class="text-danger" *ngIf="paymentForm.get('name')?.touched && paymentForm.get('name')?.invalid">
                    <small *ngIf="paymentForm.get('name')?.errors?.['required']">Name cannot be empty.</small>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4 mt-2 mb-2">
                    <label for="month">Expiration Date *</label>
                    <select formControlName="expMonth" class="form-select">
                        <option selected disabled>Select Month</option>
                        <option>Jan(01)</option>
                        <option>Feb(02)</option>
                        <option>Mar(03)</option>
                        <option>Apr(04)</option>
                        <option>May(05)</option>
                        <option>Jun(06)</option>
                        <option>Jul(07)</option>
                        <option>Aug(08)</option>
                        <option>Sep(09)</option>
                        <option>Oct(10)</option>
                        <option>Nov(11)</option>
                        <option>Dec(12)</option>
                    </select>
                    <div class="text-danger" *ngIf="paymentForm.get('expMonth')?.touched && paymentForm.get('expMonth')?.invalid">
                        <small *ngIf="paymentForm.get('expMonth')?.errors?.['required']">Please select expire month.</small>
                    </div>
                </div>
               
                <div class="col-sm-4 mt-2 mb-2">
                    <label for="year">Year *</label>
                    <select formControlName="expYear" class="form-select">
                        <option selected disabled>Select Year</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                    </select>
                    <div class="text-danger" *ngIf="paymentForm.get('expYear')?.touched && paymentForm.get('expYear')?.invalid">
                        <small *ngIf="paymentForm.get('expYear')?.errors?.['required']">Please select expire year.</small>
                    </div>
                </div>
                <div class="col-sm-4 mt-2 mb-2">
                    <label for="security code">Security Code *</label>
                    <input type="text" formControlName="securityCode" class="form-control">
                    <div class="text-danger" *ngIf="paymentForm.get('securityCode')?.touched && paymentForm.get('securityCode')?.invalid">
                        <small *ngIf="paymentForm.get('securityCode')?.errors?.['required']">Please enter security code.</small>
                        <small *ngIf="paymentForm.get('securityCode')?.errors?.['pattern']">Invalid security code.</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


