<div class="container-fluid mt-5 mb-5" id="footer">
    <div class="container mx-auto">
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg" placeholder="Sign up with your email to hear about our latest deals!" >
            <button class="btn btn-primary" type="button" >Sign Up</button>
          </div>
        <div class="flex-container mt-5 mb-5">
            <div class="col-3 footer-icon">
                <i class="bi bi-truck icon" ></i>
                <h5>Track Your Order</h5>
                <p>You can always check on the</p>
                <a href="#" class="nav-link">status of your order</a>
            </div>
            <div class="col-3 footer-icon">
                <i class="bi bi-shop icon"></i>
                <h5>Four Ways to Shop</h5>
                <p>In-Home Delivery | Ship to Home | Ship to Store | Pick Up in Store</p>
                
            </div>
            <div class="col-3 footer-icon">
                <i class="bi bi-book-half icon"></i>
                <h5>Half Full</h5>
                <p>Read</p>
                <a href="#" class="nav-link">Shop24x7 Home Blog</a>
            </div>
            <div class="col-3 footer-icon">
                <i class="bi bi-telephone-inbound-fill icon"></i>
                <h5>We're Here to Help You</h5>
                <p>Email: customersupport@shop24x7.com</p>
                <p>Phone: 1-866-123-4567</p>
                
            </div>
        </div>
        <hr>
        <div class="flex-container mt-5 mb-5">
            <div class="col-3 footer-item">
                <h5>My Account</h5>
                <ul>
                    <li>My Profile</li>
                    <li>Track My Order</li>
                    <li>Your Purchase</li>
                    <li>Returns & Exchange</li>
                    <li>Shipping & Delivery</li>
                    <li>Credit Card</li>
                </ul>
            </div>
            <div class="col-3 footer-item">
                <h5>About Shop24x7</h5>
                <ul>
                    <li>About Us</li>
                    <li>Career</li>
                    <li>Community</li>
                    <li>Investor Relationship</li>
                    <li>Corporate Responsibility</li>
                    <li>CorporateSales</li>
                </ul>
            </div>
            <div class="col-3 footer-item">
                <h5>Shopping With Us</h5>
                <ul>
                    <li>Gift Cards</li>
                    <li>Pick up in Store</li>
                    <li>Ship to Store</li>
                    <li>Store Locator</li>
                    <li>Blog</li>
                    <li>Digital Catelogs</li>
                </ul>
            </div>
            <div class="col-3 footer-item">
                <h5>Customer Service</h5>
                <ul>
                    <li>Read FAQs</li>
                    <li>Email Us</li>
                    <li>Call 1-866-123-4567</li>
                    <li>Product Recalls</li>
                    <li>Unsubscribe</li>
                    <li>Covid-19 Response</li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center social-media-group">
            <a><i class="bi bi-facebook icon" ></i></a> 
            <a><i class="bi bi-twitter icon" ></i></a>
            <a><i class="bi bi-instagram icon" ></i></a>
            <a><i class="bi bi-linkedin icon" ></i></a>
        </div>

        <hr>
        <p id="copyright">&copy; Shop24x7 | Made in Cincinnati Ohio USA</p>
    </div>
    
</div>
