<div class="container-fluid row">
    <div class="col-sm-4">
        <a routerLink=""><img src="assets/images/brand-logo.png" alt="logo"></a> 
   </div>
   <div class="col-sm-4">
     <app-search></app-search>
   </div>
   <div class="col-sm-4">
        <i class="bi bi-box-arrow-right icon" *ngIf="isUserLoggedIn()" (click)="logout()"></i>
        <a routerLink="/profile"><i class="bi bi-person-circle icon" ></i></a> 
        <a routerLink="/cart"><i class="bi bi-cart4 icon"><sup>{{totalItemOnCart}}</sup></i></a>     
   </div>
</div>
