<app-header></app-header>
<app-navbar></app-navbar>
<app-promo-banner></app-promo-banner>
<div class="container mx-auto mb-5">
    <div class="row">
        <div class="col-sm-7 m-4 p-3 border rounded-2 bg-light">
            <app-billing-component></app-billing-component>
            <hr>
            <app-shipping-component></app-shipping-component>
            <hr>
            <app-payment-components></app-payment-components>
        </div>
        
        <div class="col-sm-4 m-4 p-3 border rounded-2 bg-light">
            <app-order-summary [cartTotal]="cartTotal" [totalItemsInCart]="totalItemsInCart" [buttonTitle]="order" [tax]="tax"></app-order-summary>
        </div>
    </div>
</div>

<app-footer></app-footer>
