
<div class="container">
    <h4>Offers</h4>
    <hr>
    <div class="row offer justify-content-center">
        <div class="col-sm-6 offer-category">
            <img src="https://img.freepik.com/premium-vector/vector-3d-20-percent-off-red-with-sale-red-ribbon_66219-871.jpg?w=2000" alt="">
        </div>
        <div class="col-sm-6 offer-category">
            <img src="https://thumbs.dreamstime.com/b/off-discount-promotion-sale-poster-ads-autumn-sale-banner-green-yellow-red-leaves-white-background-fall-off-discount-156699616.jpg" alt="">
        </div>
    </div>
    <div class="row offer justify-content-center">
        <div class="col-sm-6 offer-category">
            <img src="https://us.123rf.com/450wm/blondinochka/blondinochka1811/blondinochka181100011/126721132-golden-realistic-holiday-sale-40-off-with-shadow-on-red-background-limited-time-only-template-for-a-.jpg?ver=6" alt="">
        </div>
        <div class="col-sm-6 offer-category">
            <img src="https://cdn5.vectorstock.com/i/1000x1000/90/04/mega-sale-50-percent-off-banner-template-design-vector-25369004.jpg" alt="">
        </div>
    </div>
</div>
