

  .product-image > img{
    max-width: 80%;
    max-height: 640px;
  }

  .rating{
    color: orange;
  }

  .save-tag{
    max-width: 120px;
    background-color: orange;
    color: White;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;

  }

  .product-image > img{
    max-height: 150px;
    max-width: 150px;
  }

  .sec-images-wrapper{
    overflow-x: scroll;
  }

  .sec-images{
    height: 100px;
    width: 100px;
    background-color: rgb(244, 247, 247);
    margin: 5px;
  }

  .sec-images > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
