<div class="container mx-auto mt-5 mb-5 p-4">
   <div class="row">
        <div class="col-sm-6 product-image d-flex justify-content-center">
            <img src={{product.image}} alt={{product.productName}}>
        </div>
        <div class="col-sm-6">
            <strong>{{product.description}} </strong>
            <div class="d-flex rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div> 
            <h3 class="text-success">{{product.price - product.discountPrice | currency}}</h3>
            <div class="save-tag">Save {{product.discountPrice | currency}}</div>
            <small *ngIf="product.discountPrice > 0">Was {{product.price | currency}} Now {{product.discountPrice/product.price * 100 | number: '1.1-2'}}% off</small><br>
            <i class="bi bi-truck"> Free Shipping on Orders $49 or More</i>
            <hr>
            <p>{{product.description}}</p>
            <hr>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
            </div>

        </div>
   </div>
   <hr>
   <h2>Recommanded for you</h2>
</div>
