small {
  font-size: 10px;
  color: grey;
}

.btn-checkout {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: rgb(50, 35, 65);
  color: #ffffff;
  border: 1px solid rgb(50, 35, 65);
  border-radius: 10px;
}
