<div class="container mx-auto mt-2 mb-5">
    <h3>Category</h3>
    <p>{{currentPath}}</p>
    <p *ngIf="keyword">Search result for "{{keyword}}"</p>
    <p>
        Hanging a mirror on your wall can add both depth and intrigue to your space. With Kirkland's 
        Home wide selection of decorative mirrors and framed mirrors, you're sure to find the wall 
        mirror that completes your space. From small, round mirrors to floor mirrors, browse mirrors
        in a variety of shapes, sizes, and colors.
    </p>
    <button class="filter-button" (click)="showMenu()"><i class="bi bi-filter"></i>Filter</button>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-3" >
        <div class="col" *ngFor="let product of products">
            <app-item-card [product]="product"></app-item-card>
        </div>
    </div>  
</div>

<div class="d-flex mx-auto justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" *ngIf="currentPage != 0" (click)="loadProductByPage(currentPage - 1)">
            <a class="page-link" aria-label="Previous" >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor='let in of counter(noOfPage) ;let i = index' [ngClass]="{'page-item active': currentPage === i, 'page-item': currentPage !== i}">
            <a class="page-link" (click)="loadProductByPage(i)">{{i + 1}}</a>
          </li>
          <li class="page-item" *ngIf="currentPage != noOfPage - 1" (click)="loadProductByPage(currentPage + 1)">
            <a class="page-link"  aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</div>
